*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    margin: 5px;
}

#heading{
    background: #20315A;
    color: white;
    text-align: center;
}

.row{
    margin: 10px;
}

#bottomfooter{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;

}

.articleDiv {
    padding: 10px;
    margin-bottom: 20px;
    background-color: lightpink;
    border-radius: 15px;
}
